/Kikka/Python/*
/Kikka/_Python/*
/Shell
/Tools
/WinForms
/Kikka/Resources/Shell/*
/Main/output/*
kikka.log*
*.[Mm]emory
*.db


__pycache__/
.idea/
.vs/
*.aps
*.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

!Kikka/Python/README.md
!Kikka/Resources/Shell/_Default_1
!Kikka/Resources/Shell/_Default_2